@charset "UTF-8";

body {
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    text-decoration: underline;
    text-align: center;
    color: darkblue;
    background-color: burlywood;
}
h2 {
    color: brown;
} 
p {
    text-align: justify;
}